:root {
       --blue: rgb(26, 115, 232);
       --blue2: rgb(26, 115, 232);
       --darkblue: rgb(0, 0, 92);
       --orange: rgb(255, 155, 23);
       --green: rgb(18, 109, 2);
       --red: rgb(190, 23, 23);
       --purple: rgb(123, 0, 128);
}

.App {
       width: 100vw;
       height: 100vh;
       position: absolute;
       display: flex;
}


body {
       margin: 0;
       top: 0;
       left: 0;
       position: absolute;
       overflow: hidden;
}



.main-wrapper {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
       /* border: 5px solid red; */
       height: calc(100% - 3rem);
}

.main-sidebar-wrapper {
       width: 100%;
       height: 100%;
       /* border: 5px solid blue; */
       display: flex;
}