:root {
       --blue: rgb(26, 115, 232);
       --blue2: rgb(26, 115, 232);
       --orange: rgb(255, 155, 23);
       --green: rgb(18, 109, 2);
       --red: rgb(190, 23, 23);
       --purple: rgb(123, 0, 128);
       --darkblue: rgb(22, 29, 47);
       --darkbluelight: rgb(41, 47, 69);
       --darkbluelight-hover: rgb(51, 57, 79);

       --sidebar-backgroundColor: var(--blue);
       --sidebar-color: black;
       --sidebar-activeColor: white;
       --sidebar-hoverColor: white;
       --sidebar-hoverbackgroundColor: white;
}

.App {
       width: 100vw;
       height: 100vh;
       position: absolute;
       display: flex;
}


body {
       margin: 0;
       top: 0;
       left: 0;
       position: absolute;
       overflow: hidden;
}



.main-wrapper {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
       height: calc(100%);
}

.main-sidebar-wrapper {
       width: 100%;
       height: 100%;
       display: flex;
}