.Main {
       width: 96%;
       height: 100%;
       margin-top: 2.5rem;
       overflow-y: auto;
       padding-right: 2rem;
       padding-left: 2rem;
}

.MuiTableRow-root.MuiTableRow-hover.Mui-selected {

       background-color: rgb(231, 231, 231);


       &:hover {
              background-color: rgb(231, 231, 231);
       }
}

.MuiCheckbox-colorSecondary.Mui-checked {
       color: white !important;
}

thead {
       background-color: var(--blue);

       .MuiSvgIcon-root {
              color: white;
       }
}

.MuiTableCell-root.MuiTableCell-head.MuiTableCell-alignLeft {
       color: white !important;
       font-weight: bolder;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
       font-weight: bolder;
       color: white !important;
}

.MuiButtonBase-root.MuiTableSortLabel-root {
       font-weight: bolder;
       color: white !important;
}

.deleteIcon {
       color: white;
}

.selected-icons {
       display: flex;
       flex-direction: row-reverse;
}

.priority {
       border-radius: 50%;

       &.low {
              background-color: rgb(31, 175, 31);
              color: white;
       }

       &.medium {
              background-color: rgb(212, 131, 0);
              color: white;
       }

       &.high {
              background-color: rgb(255, 65, 65);
              color: white;
       }
}

.thema {
       color: grey;
       font-weight: bolder;
}

.thema:hover {
       cursor: pointer;
       text-decoration: underline;
}

.kategorie {
       text-transform: uppercase;
       border-radius: 0.3rem;
       font-weight: bolder;
       font-size: 10px;
       padding: 0.1rem;
       box-shadow: 3px 3px 5px -3px #111;

       &.gf {
              background-color: rgb(86, 205, 50);
       }

       &.technik {
              background-color: red;
              color: white;
       }

       &.vertrieb {
              background-color: rgb(32, 109, 144);
              color: white;
       }

       &.lager {
              background-color: black;
              color: white;
       }
}


.progress.p100 {
       .MuiLinearProgress-barColorPrimary {
              background-color: green !important;
       }
}

.progress.p30 {
       .MuiLinearProgress-barColorPrimary {
              background-color: orange !important;
       }
}

.progress.p5 {
       .MuiLinearProgress-barColorPrimary {
              background-color: var(--blue) !important;
       }
}

.add-ticket-btn {
       font-size: 12px !important;
       width: 20% !important;
       background-color: white !important;
       color: var(--blue) !important;
       border-color: var(--blue) !important;
       font-weight: bolder !important;
       margin-right: 3rem !important;
}