.MuiDialog-paperWidthSm {
       max-width: 100% !important;
}

.Swal {
       width: 60rem;
       height: 100%;
       margin: 1rem;
       margin: 2rem;

       .file-togglebtn {
              background-color: white !important;
              border: 1px solid var(--blue) !important;
              color: var(--blue) !important;
              margin-top: 2rem;
              margin-bottom: 1rem;
              transition: all 350ms ease-in-out;
              font-size: 12px;

              &:hover {
                     background-color: rgb(240, 240, 240) !important;
              }
       }

       .file-upload {
              height: auto;
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-items: center;
              font-family: "Roboto";
              color: grey;
              font-size: 12px;
              background-color: rgba(0, 0, 0, 0.09);
              border-radius: 0.3rem;
              animation: fadeIn 0.5s;

              .file-upload-proto {
                     width: 7rem;
                     height: 10rem;
                     max-width: 7.5rem;
                     padding-left: 0.5rem;
                     padding-right: 0.5rem;
                     border-radius: 0.5rem;
                     justify-content: center;
                     display: flex;
                     flex-direction: column;
                     margin-left: 2rem;
                     align-items: center;
                     margin-bottom: 1rem;
                     overflow-x: hidden;


                     .file-images {
                            height: auto;
                            width: auto;
                            max-height: 70px;
                            max-width: 60px;
                            margin-top: 1rem;
                            margin-bottom: 0.5rem;
                            color: black;
                     }

                     span {
                            color: black;
                     }
              }

              .file-upload-btn {
                     margin-left: 2rem;
                     margin-top: 1rem;
                     margin-bottom: 1rem;
                     max-width: 100rem;
                     width: 8rem;
                     border: 3px dotted var(--blue);

                     .file-upload-dropzone {
                            font-size: 12px;
                            display: flex;
                            flex-direction: column;
                            vertical-align: middle;
                            align-items: center;
                            color: rgb(93, 93, 93);
                            border: none;

                            .file-upload-icon {
                                   color: var(--blue);
                            }

                            span {
                                   color: var(--blue);
                                   font-weight: bold;
                                   margin-bottom: 0.5rem;
                            }
                     }
              }

              .file-upload-files {
                     height: calc(10rem - 4px);
                     margin-top: 1rem;
                     margin-right: 1rem;
                     animation: fadeIn 1s;
                     background-color: white;
                     box-shadow: 0px 2px 1px -1px rgb(136, 136, 136),
                            0px 1px 1px 0px rgb(163, 163, 163),
                            0px 1px 3px 0px rgb(163, 163, 163);
                     transition: all 350ms ease-in-out;
                     cursor: pointer;

                     &:hover {
                            // background-color: rgb(240, 240, 240);
                            background-color: var(--blue);

                            span {
                                   color: white !important;
                            }

                            .close-icon {
                                   display: block;
                            }
                     }

                     .close-icon {
                            display: none;
                            margin-left: 75%;
                            margin-bottom: -3rem;
                            transform: translateY(-1.5rem);
                     }
              }
       }


       .swal-kategorie-select {
              margin-top: 1rem;
              width: 30%;
       }

       .swal-prio-thema-wrapper {
              display: flex;
              z-index: 100;

              .swal-prio-select {
                     width: 10%;
                     z-index: 100;
              }

              .swal-thema-tf {
                     width: 90%;
                     margin-left: 1rem;
                     padding-top: 0.5rem;
              }

       }

       .MuiFormControl-root.MuiTextField-root {
              width: 100%;

              &.swal-beschreibung-tf {}
       }

       .swal-beschreibung-tf {
              margin-top: 2rem;
       }

       .status-wrapper {
              display: flex;

              .swal-status-select {
                     margin-top: 2rem;
                     margin-right: 1rem;
                     text-align: left;
                     width: 50%;
              }

              .status-btngrp {
                     width: 50%;
                     height: 3rem;
                     margin-left: 1rem;
                     align-self: flex-end;

                     .status-btngrp-btn {
                            font-size: 11px;
                            padding-right: 1.5rem;
                            padding-left: 1.5rem;
                            text-align: center;

                     }
              }
       }

       .verwantwortlich-select {
              width: 100%;
              margin-top: 2rem;

              .label {
                     margin-left: 0.8rem;
                     margin-top: -0.5rem
              }
       }

       .MuiSwitch-colorSecondary.Mui-checked {
              color: var(--blue);
       }

       .MuiSwitch-colorSecondary.Mui-checked+.MuiSwitch-track {
              background-color: var(--blue);
       }

       .send-email-switch-wrapper {

              .send-email-switch-label {
                     span {
                            font-size: 12px;
                     }
              }
       }

       .swal-account-wrapper {
              display: flex;
              font-size: 10px;
              margin-top: 0rem;

              .swal-erstellt-tf {
                     margin-top: 2rem;
                     margin-right: 1rem;
              }

              .swal-bearbeitet-tf {
                     margin-top: 2rem;
                     margin-left: 1rem;
              }
       }

       .swal-footer-buttons-wrapper {
              display: flex;

              .swal-bearbeiten-btn {
                     margin-top: 3rem;
                     margin-right: 1.5rem;
                     border: 1px solid var(--blue);
                     color: var(--blue);
                     box-shadow: 0px 2px 1px -1px rgb(196, 196, 196),
                            0px 1px 1px 0px rgb(196, 196, 196),
                            0px 1px 3px 0px rgb(196, 196, 196);
              }

              .swal-schliessen-btn {
                     margin-top: 3rem;
                     background-color: var(--blue);
                     color: white;
              }
       }
}

@keyframes fadeIn {
       0% {
              opacity: 0;
       }

       100% {
              opacity: 1;
       }
}