.Sidebar {
       width: 10rem;
       height: 100%;
       box-shadow: 5px 0px 15px -10px rgb(51, 51, 51);
       transition: all 350ms ease-in-out;
       word-wrap: normal;


       &:hover {
              width: 25rem;

              .item .text {
                     display: block;
              }
       }

       .item {
              color: black;
              animation: fadeIn 1s;
              display: flex;
              font-family: "Roboto";
              margin-left: 1.5rem;
              margin-right: 2rem;
              margin-top: 0.5rem;
              font-size: 17px;
              padding-left: 1rem;
              border-radius: 0.30rem;
              cursor: pointer;
              align-items: center;
              font-weight: bold;
              word-wrap: normal;

              &.active {
                     background-color: var(--blue);
                     color: white;
                     margin-right: 0rem;
                     border-top-right-radius: 0;
                     border-bottom-right-radius: 0;
              }

              &:hover {
                     background-color: rgb(245, 245, 250);
              }

              .icon {
                     width: 20px;
                     height: 20px;
              }

              .text {
                     margin-left: 2rem;
                     display: block;
              }
       }

       @keyframes fadeIn {
              0% {
                     opacity: 0;
              }

              100% {
                     opacity: 1;
              }
       }
}